<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <ul class="knarks">
        <% for(var i=0; i<knark.length; i++) {%>
          <li class="knark">
            <span><%= knark[i].name %></span>
            <span><%= knark[i].quote %></span>
          </li>
        <% } %>
      </ul>
</body>
</html>